*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.cards{
  display: flex;
  justify-content: center;
  transform: translateY(50%);
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.card{
  max-width: 100%;
  height: 360px;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-right: 20px;
  transition: transform 0.420ms ease;
}
.card img{
  width: 300px;
  height:200px;
  object-fit: cover;
  margin-bottom:20px;
}
.title{
  
  max-width: 100%;
}
.desc{
  margin-top: 10px;
  width: 300px;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: rgba(255, 105, 180, 0.48) 6px 2px 16px 0px, rgba(255, 105, 180, 0.8) -6px -2px 16px 0px;
}